@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#filter {
  width: 85%;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.offcanvas{
  overflow-y: scroll;
}

.dateForm{
  display:flex;
  flex-direction: row;
  margin-left: 1em;
}

.form-check-label{
  margin-left:0.5em;
}

.filtersWrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  width: 85%;
  margin-left: 1em;
  /* overflow: hidden; */
}

.form-check.form-check-inline{
  display: flex;
  flex-direction: row;
}

.tooltip {
  position: relative;
}
.tooltip-bottom:hover::after {
  content: attr(data-tooltip);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 1;
  background-color: #000;
  color: #fff;
}
.truncate {
  /* max-width: 100px; */
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-check.form-switch {
  width: auto;
}

.checkboxFilters{
  /* width: initial; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gantt-header {
  border-top: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.gantt-controls {
  background-color: #f5f5f5;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gantt-menu-item {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
  overflow: visible;
  /*padding:0 10px;*/
}

.offcanvas-header{
  padding-bottom: 0;
}

.gantt-menu-item a {
  display: block;
  cursor: pointer;
  color: #3d3d3d;
  text-align: center;
  /* line-height: 160px; */
  padding: 0 10px;
  text-decoration: none;
}

.list-group-item{
  line-height: 35px;
}

.gantt-menu-item a:hover {
  background-color: #e2e2e2;
}

.gantt-controls .gantt-controls {
  display: none;
}

.gantt-menu-item:hover .gantt-controls {
  display: block;
  left: 0;
  padding: 5px 0;
  position: absolute;
  top: 41px;
  z-index: 1;
}

.gantt-menu-item .menu-item-active {
  background-color: #dadada !important;
}

.gantt-menu-item .menu-item-disabled {
  color: #818181 !important;
  pointer-events: none;
}

.gantt-menu-item:hover .gantt-controls li {
  width: 100%;
}

.gantt-menu-item:hover .gantt-controls a {
  white-space: nowrap;
  text-align: left;
}

.gantt-menu-item:hover .gantt-controls::before {
  position: absolute;
  top: -7px;
  width: 100%;
  content: " ";
  height: 10px;
  background: transparent;
  left: 0;
  z-index: 1;
}


.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* adjustment */
  position: relative;
  padding-top: 1em;
  /* padding-bottom: 0.5em; */
  /* padding: 0.5em; */
}

.vortexTitle {
  flex: 0 1 auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  padding-top: 1em;
  /* margin-bottom: 1em; */
}

.btn.btn-secondary.settings {
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 1em;
  margin-bottom: 0.2em;
}

.bi{
  margin-right: 10px;
  font-size: 18px;
  text-align: center;
  align-self: center;
  vertical-align: middle;
}