@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#filter {
  width: 85%;
  margin-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.offcanvas {
  overflow-y: scroll;
  width: 30em;
}

#offcanvasRightLabel {
  margin-bottom: 0;
}

.dateForm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 1.5em;
  margin-top: 0.5em;
  justify-content: flex-start;
}

.themeForm {
  margin-top: 0.5em;
  margin-left: 1.5em;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: stretch;
  /* gap: 5px; */
}

.form-check-label {
  margin-left: 0.5em;
}

.filtersWrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 5px;
  width: 85%;
  margin-left: 1.75em;
  margin-top: 0.5em;
}

.form-check.form-check-inline {
  display: flex;
  flex-direction: row;
}

.truncate {
  /* max-width: 100px; */
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-check.form-switch {
  width: auto;
}

.checkboxFilters {
  /* width: initial; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gantt-header {
  border-top: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.offcanvas-header {
  padding-bottom: 0;
}

.list-group {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0.5em;
  margin-left: 1.25em;
  margin-right: 1em;
  background-color: #dee2e6;
  border-radius: 10px;
  padding: 1px;
}

.list-group-item {
  line-height: 35px;
  border: 1px solid #dee2e6;
}


.list-group-item:nth-child(1){
  border-radius: 10px 0 0 0
}
.list-group-item:nth-child(2){
  border-radius: 0 10px 0 0
}
.list-group-item:nth-child(11){
  border-radius: 0 0 0 10px
}
.list-group-item:nth-child(12){
  border-radius: 0 0 10px 0
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* adjustment */
  position: relative;
  padding-top: 1em;
}

.vortexTitle {
  flex: 0 1 auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  padding-top: 1em;
  /* margin-bottom: 1em; */
}

.btn.btn-secondary.settings {
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 1em;
  margin-bottom: 0.2em;
}

.bi {
  margin-right: 10px;
  font-size: 18px;
  text-align: center;
  align-self: center;
  vertical-align: middle;
}
