/* @import "dhtmlx-gantt/codebase/dhtmlxgantt.css"; */
.gantt-chart {
  /* height: 100%; */
  height: 93.5vh;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.gantt_tree_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gantt_grid_scale{
  font-size: 15px;
  font-family: inherit;
}

.gantt_tree_icon.gantt_close, .gantt_tree_icon.gantt_open{
    background: rgba(2,2,2,.01);
}

.bi{
  margin-right: 5px;
}

.bi-chevron-right, .bi-chevron-down{
  cursor: pointer;
  pointer-events: none;
	font-size: 12px;
  padding-right: 5px;
}
.gantt_cal_light {
  height: auto !important;
}
/* invisible plus button bc plus buttons on all rows but dont want on the folders */
.gantt_grid_head_add {
  display: none !important;
}
.nested_task .gantt_add {
  display: none !important;
}
.weekend {
  background: #f4f7f4 !important;
}

.gantt_task_line {
  border-color: rgba(0, 0, 0, 0.25);
}
/* task will be shaded in as it progresses ie the rectangle */
.gantt_task_line .gantt_task_progress {
  background-color: rgba(0, 0, 0, 0.15);
}
/* DEV-offline */
.gantt_task_line.devoffline {
  background-color: #9a29b6;
}
.gantt_task_line.devoffline .gantt_task_content {
  color: #fff;
}
/* status not started */
.gantt_task_line.not_started .gantt_task_content {
  color: #dde5e7;
}
/* status requested */
.gantt_task_line.requested .gantt_task_content {
  color: #dfdfdf;
}
/* status running */
.gantt_task_line.running .gantt_task_content {
  color: #f8f415;
}
/* status completed */
.gantt_task_line.completed .gantt_task_content {
  color: #fff;
}
/* status viceprocerror */
.gantt_task_line.viceprocerror {
  background-color: #ff8381;
}
.gantt_task_line.viceprocerror .gantt_task_content {
  color: #fff;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gantt-header {
  border-top: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}


.status_line {
  background-color: #0ca30a;
}

.gantt_tree_icon{
  font-size: 23px;
}